<h2 style="text-align: center; padding-top: 30px">Time</h2>
<h1 style="text-align: center; padding-top: 5px; padding-bottom: 20px">
  {{ currentTime }}
</h1>

<div style="text-align: center; margin-bottom: 20px">
  <button style="width: 150px" mat-flat-button color="primary">
    Interrupt
  </button>
</div>

<div style="text-align: center; margin-bottom: 20px">
  <button style="width: 150px" mat-flat-button color="primary">
    Notify player
  </button>
</div>
<div style="text-align: center; margin-bottom: 20px">
  <button style="width: 150px" mat-flat-button color="primary">Restart</button>
</div>
<div style="text-align: center; margin-bottom: 20px">
  <button style="width: 150px" mat-flat-button color="primary">End</button>
</div>
