<mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
  <mat-step #step label="Game" state="phone">
    <div>
      <div class="listWrapper">
        <mat-form-field appearance="fill">
          <mat-label>Select a team game</mat-label>
          <mat-select>
            <mat-option value="option">Handball</mat-option>
            <mat-option value="option">Football</mat-option>
            <mat-option value="option">Basketball</mat-option>
            <mat-option value="option">Volleyball</mat-option>
            <mat-option value="option">Hockey</mat-option>
            <mat-option value="option">Badminton</mat-option>
            <mat-option value="option">Kickball</mat-option>
            <mat-option value="option">Rugby</mat-option>
            <mat-option value="option">Baseball</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="listWrapper">
        <mat-form-field appearance="fill" style="width: 150px">
          <mat-label>Number of teams</mat-label>
          <input
            matInput
            type="number"
            min="1"
            [(ngModel)]="numberOfTeams"
            (keyup)="onTeamNumberChange()"
          />
        </mat-form-field>
      </div>

      <h2
        *ngIf="teamNames.length"
        style="text-align: center; padding-top: 30px"
      >
        Teams
      </h2>

      <mat-list>
        <ng-container *ngFor="let team of teamNames">
          <div class="teamWrapper">
            <div mat-line>{{ team.name }}</div>
            <div class="teamColor">
              <mat-icon [style.color]="team.color" mat-list-icon
                >fiber_manual_record</mat-icon
              >
            </div>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </mat-step>
  <mat-step label="Players" state="chat">
    <div>
      <h2 style="text-align: center; padding-top: 30px">Select players</h2>

      <mat-selection-list>
        <mat-list-option
          *ngFor="let name of strapConnectionService.names"
          [color]="'primary'"
        >
          {{ name }}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
      <h2 style="text-align: center; padding-top: 30px">Team assembling</h2>
      <div style="text-align: center">
        <mat-button-toggle-group
          [value]="'bold'"
          name="fontStyle"
          aria-label="Font Style"
        >
          <mat-button-toggle value="bold">automatically</mat-button-toggle>
          <mat-button-toggle value="italic">manually</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </mat-step>
  <mat-step label="Presetting">
    <div>
      <div style="text-align: center">
        <mat-form-field appearance="fill" style="width: 150px">
          <mat-label>Playtime in min</mat-label>
          <input matInput type="number" min="1" [value]="90" />
        </mat-form-field>
      </div>
      <h2 style="text-align: center; padding-top: 30px">Strap options</h2>
      <div style="display: grid">
        <mat-checkbox
          style="padding: 10px"
          [color]="'primary'"
          class="example-margin"
          >Flashing straps before game ends</mat-checkbox
        >
        <mat-divider></mat-divider>

        <mat-checkbox
          style="padding: 10px"
          [color]="'primary'"
          class="example-margin"
          >Allow notifications</mat-checkbox
        >
        <mat-divider></mat-divider>
        <mat-checkbox
          style="padding: 10px"
          [color]="'primary'"
          class="example-margin"
          >Show remaining time</mat-checkbox
        >
        <mat-divider></mat-divider>
        <mat-checkbox
          (click)="openDialog()"
          style="padding: 10px"
          [color]="'primary'"
          class="example-margin"
          >Show which team is winning
          <ng-container
            *ngIf="false && strapConnectionService.selectedIcon.length"
          >
            <mat-icon
              style="position: absolute"
              *ngIf="strapConnectionService.selectedIcon === 'trophy'"
              >emoji_events</mat-icon
            >
            <mat-icon
              style="position: absolute"
              *ngIf="strapConnectionService.selectedIcon === 'star'"
              >star</mat-icon
            >
          </ng-container>
        </mat-checkbox>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div class="footer">
  <div *ngIf="showStartGame" class="nextButton">
    <button mat-flat-button color="primary" routerLink="/game">
      Start game
    </button>
  </div>
  <div *ngIf="showPrevious" class="prevButton">
    <button mat-button (click)="stepper.previous()">Back</button>
  </div>
  <div *ngIf="showNext" class="nextButton">
    <button (click)="stepper.next()" mat-button>Next</button>
  </div>
</div>
