<div class="listWrapper">
  <mat-form-field appearance="fill">
    <mat-label>Select a team game</mat-label>
    <mat-select>
      <mat-option value="option">Handball</mat-option>
      <mat-option value="option">Football</mat-option>
      <mat-option value="option">Basketball</mat-option>
      <mat-option value="option">Volleyball</mat-option>
      <mat-option value="option">Hockey</mat-option>
      <mat-option value="option">Badminton</mat-option>
      <mat-option value="option">Kickball</mat-option>
      <mat-option value="option">Rugby</mat-option>
      <mat-option value="option">Baseball</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="listWrapper">
  <mat-form-field appearance="fill" style="width: 150px">
    <mat-label>Number of teams</mat-label>
    <input
      matInput
      type="number"
      min="1"
      [(ngModel)]="numberOfTeams"
      (keyup)="onTeamNumberChange()"
    />
  </mat-form-field>
</div>

<h1 style="text-align: center; padding-top: 30px">Team colors</h1>

<mat-list>
  <ng-container *ngFor="let team of teamNames">
    <div mat-line>{{ team }}</div>
    <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
